#side-bar {
  width: 12%;
}

#second-half {
  width: 88%;
}

#side-bar nav ul a {
  font-size: 1.4em;
  color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #97bf0f !important;
  color: white !important;
}

nav .images {
  width: 28%;
}

nav button {
  width: 10%;
  height: 9vh;
  border: none;
}

nav a {
  width: 40%;
}

nav button img {
  width: 65%;
}