#side-bar {
  width: 20%;
  background-color: white;
}

#side-bar nav ul a {
  font-size: 1.4em;
  color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #97bf0f !important;
  color: white !important;
}

nav .images {
  width: 28%;
}

nav button {
  width: 10%;
  height: 9vh;
  border: none;
}

nav a {
  width: 40%;
}

nav button img {
  width: 65%;
}

#side-bar nav {
  width: 75%;
  border-right: 1px solid #e5e5e5;
  background-color: white;
}

#side-bar nav ul a {
  font-size: 1.2em;
  font-weight: 700;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

nav ul li {
  width: 100%;
}
