#second-half-courses {
  width: 88%;
  padding-top: 3em;
}

#second-half-courses .card {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#second-half-courses .card h4 {
  text-align: center;
  font-size: 1.25em;
}

#second-half-courses .card p {
  text-align: center;
  font-size: 0.8em;
}

#second-half-courses .socials {
  justify-content: space-around;
  align-items: center;
  height: 2.5em;
  width: 80%;
}

#second-half-courses .socials img {
  width: 8%;
}

#second-half-courses .card-image {
  width: 270px;
  height: 230px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

#second-half-courses .carousel-control-prev,
#second-half-courses .carousel-control-next {
  background-color: #96bf02;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#second-half-courses .carousel-control-next-icon,
#second-half-courses .carousel-control-prev-icon {
  color: white;
}

#second-half-courses .carousel-indicators {
  display: none;
}

#second-half-courses .row {
  width: 80%;
}

#second-half-courses .slides-inner {
  display: flex;
  justify-content: center;
}
