#second-half-courses {
  width: 88%;
  padding-top: 3em;
}

#second-half-courses .card {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
} 

#second-half-courses .card h4 {
  text-align: center;
}

#second-half-courses .card p {
  text-align: center;
}

#second-half-courses .card-image {
  width:  240px;
  height: 210px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

#second-half-courses .carousel-control-prev,
#second-half-courses .carousel-control-next {
  background-color: #96bf02;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#second-half-courses .carousel-control-next-icon,
#second-half-courses .carousel-control-prev-icon {
  color: white;
}

#second-half-courses .carousel-indicators{
  display: none;
}