body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-color: aliceblue;
}

.reg-button {
  background-color: #96bf02;
  color: #fff;
  font-weight: 700;
  font-size: large;
  padding: 0.8rem 1em;
  border-radius: 10px;
  margin-left: 1rem;
  border: none;
}

.reg-button:hover {
  background-color: #bee923;
  color: #fff;
}

.auth_form {
  width: 50%;
}

#second-half {
  width: 88%;
  padding-top: 3em;
  background-color: rgb(251 249 249);
}

#second-half form {
  margin-top: 2em;
  border-radius: 1.5em;
  color: black;
  font-weight: 300;
  font-size: 1.3em;
}

#second-half .form-title span {
  border-bottom: 3.5px solid black;
}
